<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <br>
    <br>
  
  </div>
  <div class="row" style="padding-bottom: 30px;">
    <button class="btn btn-primary" (click)="readStatus()" routerLink="general-details">form</button>&nbsp;&nbsp;
    <button class="btn btn-success" (click)="readStatus()" routerLink="nested-form">Nested form</button>&nbsp;&nbsp;
  <!--   <button class="btn btn-default">Using Control Value accessor</button>&nbsp;&nbsp; -->
    
  </div>

  <div class="row">
      
    <router-outlet></router-outlet>
  </div>

</div>
